@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Merriweather Sans", sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1, h2, .btn {
  margin: 0;
}

h2 {
  color: #89c214;
}

p {
  color: #3a3a3b;
}

.text-white {
  color: #fff;
}

.text-light {
  color: #95989a;
}

.text-dark {
  color: #3a3a3b;
}

.text-green {
  color: #89c214;
}

.section-white {
  background-color: #fff;
  padding: 0 2em;
}

.section-light {
  background-color: #dbdbdb;
  padding: 0 2em;
}

.section-green {
  background-color: #89c214;
  padding: 0 2em;
}

.section-dark {
  background-color: #3a3a3b;
}

.review {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.masthead {
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 120px;
}

a {
  color: #fff;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
}

.current {
  color: #89c214;
}

a:active {
  color: #89c214;
}

a:hover {
  color: #89c214;
}

.btn:hover {
  background-color: #89c214;
  border: solid 3px #89c214;
  color: #fff;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 4em;
  left: 0;
  color: #fff;
  width: 100%;
}

.banner-content-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

.card-img {
  display: block;
  width: 100%;
  max-height: 15em;
}

blockquote {
  margin: 0;
}

.card-section {
  margin: 1em;
}

.footer-img {
  max-height: 2em;
}

.footer-content {
  color: #fff;
}

.border-box {
  border: solid 3px #3a3a3b;
}

form {

  display: inline-block;
}

.copyright {
  display: inline-block;
}

.nav-2 {
  display: inline-block;
}

.cards {
  border-bottom: solid 2px #95989a;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.big-space {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.sign-up {
  margin: 1rem;
}

input, select {
  border: solid 3px #89c214;
  color: #95989a;
}

button {
  background-color: #fff;
}

button:hover {
  background-color: #89c214;
  border: solid 3px #89c214;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .nav li {
    display: inline-block;
  }

  .banner-content {
    position: absolute;
    bottom: 7em;
    left: 0;
    color: #fff;
    width: 100%;
  }

  .banner-content-2 {
    position: absolute;
    bottom: 3em;
    left: 0;
    color: #fff;
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .masthead {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .copyright {
    text-align: left;
    display: inline-block;
  }

  .nav-2 {
    text-align: right;
    display: inline-block;
  }

  .cards {
    border-left: solid 2px #95989a;
    border-bottom: 0;
  }

  .cards:first-child {
    border-left: 0;
  }

  .cards:last-child {
    border-left: 0;
  }

  .banner-content {
    position: absolute;
    bottom: 8em;
    left: 0;
    color: #fff;
    width: 100%;
  }

  .banner-content-2 {
    position: absolute;
    bottom: 4em;
    left: 0;
    color: #fff;
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .sign-up {
    margin: 0 7rem;
  }

  .cards:last-child {
    border-left: solid 2px #95989a;
    border-bottom: 0;
  }

  .banner-content {
    position: absolute;
    bottom: 10em;
    left: 0;
    color: #fff;
    width: 100%;
  }

  .banner-content-2 {
    position: absolute;
    bottom: 6em;
    left: 0;
    color: #fff;
    width: 100%;
  }


}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

  .sign-up {
    margin: 0 9rem;
  }

  .banner-content {
    position: absolute;
    bottom: 12em;
    left: 0;
    color: #fff;
    width: 100%;
  }

  .banner-content-2 {
    position: absolute;
    bottom: 8em;
    left: 0;
    color: #fff;
    width: 100%;
  }

}
